<div class="container" ng-controller="LandingPageController">
    <div ng-view></div>
    <div ng-show="loading" class="row">
            <div class="loading text-hide">Loading...</div>
    </div>
</div>
